:root {
    /*Primary*/
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    /*Neutral*/
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --White-hover: rgba(256, 256, 256, .3);
    --Black: #000;
    --footer-background: rgb(139, 210, 196);
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*-utilities-*/

h1 {
    text-transform: uppercase;
    color: var(--White);
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
}

h2 {
    font-size: 40px;
    font-family: 'Fraunces', serif;
}

h3 {
    font-size: 30px;
    font-family: 'Fraunces', serif;
}

h4 {
    font-size: 20px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--Grayish-blue);
    letter-spacing: 8px;
    padding-bottom: 5rem;
}

h5 {
    font-family: 'Fraunces', serif;
    font-size: 16px;
}

a {
    color: var(--White);
    text-decoration: none;
    text-transform: initial;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    max-width: 1440px;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Barlow', sans-serif;
    color: var(--Dark-grayish-blue);
    font-size: 18px;
    line-height: 25px;
}

.header {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../images/mobile/image-header.jpg);
}

.header__navigation {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
    justify-content: space-between;
    align-items: center;
}

.header__info {
    margin-top: 2rem;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.header__info h1 {
    padding: 0 3rem;
    height: auto;
}

.icon-hamburger {
    cursor: pointer;
}

.ddmenu {}

.ddcontent {
    display: none;
}

.triangle__cont {
    
    display: none;
    width: 90%;
    position: absolute;
    top: 8rem;
    
    
    justify-content: flex-end;
    right: 0;
    left: 0;
    margin: auto;
}

.visible{
    display: flex;
}

.triangle{

    width: 0;
    height: 0;
    border-bottom: 2rem solid white;
    border-left: 2rem solid transparent;
}

.responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 90%;
    height: 30vh;
    top: 10rem;
    right: 0;
    left: 0;
    margin: auto;
    background-color: var(--White);
}

.responsive a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    border-radius: 30px;
    padding: 2rem 4rem;
    height: 5rem;
    width: 13rem;
}

.responsive a {
    color: var(--Very-dark-grayish-blue);
    font-size: 20px;
}

.responsive a:focus {
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--Yellow);
    color: var(--Black);
    font-weight: bold;
}

/*animacion para el hover de la flecha*/

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.arrow {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.arrow:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

/*-Header-*/

@media (min-width:768px) {
    .header {
        background-image: url(../images/desktop/image-header.jpg);
    }
    .header__navigation {
        height: auto;
        width: 95%;
        position: static;
    }
    h1 {
        font-size: 50px;
    }
    .icon-hamburger {
        display: none;
    }
    .ddcontent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: .5rem;
        position: static;
        height: auto;
    }
    .ddcontent li {
        height: auto;
        width: auto;
    }
    .ddcontent a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        border-radius: 20px;
        padding: 2rem 4rem;
        height: 3.2rem;
        width: 7.1rem;
    }
    .ddcontent a:hover {
        text-transform: uppercase;
        background-color: var(--White-hover);
    }
    .ddcontent a:focus {
        text-transform: uppercase;
        background-color: var(--White);
        color: var(--Black);
    }
}

@media (max-width:300px) {
    h1{
        font-size: 25px;
    }
}

/*-Main-*/

.container {
    display: grid;
    grid-template-columns: 1;
    width: 100%;
}

.imagen {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 33rem;
}

.c {
    background-image: url(../images/mobile/image-transform.jpg);
    order: -1;
}

.a {
    order: 0;
}

.b {
    order: 2;
}

.d {
    background-image: url(../images/mobile/image-stand-out.jpg);
    order: 1;
}

.e {
    background-image: url(../images/mobile/image-graphic-design.jpg);
    order: 3;
}

.f {
    background-image: url(../images/mobile/image-photography.jpg);
    order: 4;
}

.texto {
    height: 45rem;
    display: flex;
    align-items: center;
}

.contenedor__texto {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.contenedor__desc {
    width: 90%;
    margin: 0 auto;
}

.contenedor__learn {
    width: auto;
}

.container a {
    color: var(--Black);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 13px;
    position: relative;
}

.underline {
    position: absolute;
    top: 60%;
    left: -5px;
    z-index: -1;
    height: .7rem;
    width: 110%;
    border-radius: 50px;
    display: none;
}

.container .a .underline {
    background-color: var(--Yellow);
    display: block;
}

.container .b .underline {
    background-color: var(--Soft-red);
    display: block;
}

.e, .f {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.content h3 {
    padding-bottom: 3rem;
}

.contenidoE p, .contenidoE h3 {
    color: var(--Dark-desaturated-cyan);
}

.contenidoF p, .contenidoF h3 {
    color: var(--Dark-blue);
}

@media (min-width: 768px) {
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
    h3 {
        margin: 0;
        padding: 0;
        font-size: 25px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .a {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .c {
        grid-column-start: 2;
        grid-row-start: 1;
        background-image: url(../images/desktop/image-transform.jpg);
        background-position: center;
        background-size: cover;
    }
    .d {
        grid-column-start: 1;
        grid-row-start: 2;
        background-image: url(../images/desktop/image-stand-out.jpg);
        background-position: center;
        background-size: cover;
    }

    .e{
        background-image: url(../images/desktop/image-graphic-design.jpg);
    }
    .f{
        background-image: url(../images/desktop/image-photography.jpg);
    }
    .texto {
        height: auto;
        width: 100%;
    }
    .imagen {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 35rem;
    }
    .a, .b {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .e, .f {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .contenedor__texto {
        height: 80%;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
    .contenedor__title {
        width: 95%;
    }
    .contenedor__desc {
        width: 100%;
    }
    .contenedor__learn {
        width: auto;
    }
    .container a {
        color: var(--Black);
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Fraunces', serif;
        font-size: 13px;
        position: relative;
    }
    .underline {
        position: absolute;
        top: 60%;
        left: -5px;
        z-index: -1;
        height: .7rem;
        width: 110%;
        border-radius: 50px;
        display: none;
    }
    .content {
        width: 90%;
        text-align: center;
        height: auto;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .contenidoE p, .contenidoE h3 {
        color: var(--Dark-desaturated-cyan);
    }
    .contenidoF p, .contenidoF h3 {
        color: var(--Dark-blue);
    }
}

@media (min-width:1024px) {
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-family: 'Barlow', sans-serif;
        color: var(--Dark-grayish-blue);
        font-size: 18px;
        line-height: 25px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .a {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .c {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .d {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .texto {
        height: 100%;
        width: 100%;
    }
    .imagen {
        height: 60rem;
    }
    .a, .b {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor__texto {
        height: 50%;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contenedor__title {
        width: 95%;
    }
    .contenedor__desc {
        width: 100%;
    }
    .contenedor__learn {
        width: auto;
    }
    .container .b .underline, .container .a .underline {
        display: none;
    }
    .container .a a:hover>.underline {
        background-color: var(--Yellow);
        display: block;
    }
    .container .b a:hover>.underline {
        background-color: var(--Soft-red);
        display: block;
    }
    .content {
        width: 55%;
        padding-bottom: 10rem;
    }
}

/*-Testimoniales-*/

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.testimonials__title {
    text-align: center;
    padding-top: 5rem;
}

.testimonials__title h4 {
    font-size: 15px;
    letter-spacing: 5px;
}

.testimonials__main {
    display: flex;
    flex-direction: column;
}

.testimonials--item {
    margin: 0 auto;
    height: 35rem;
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimonial__img img {
    height: 8rem;
    border-radius: 50px;
}

.testimonial__desc {
    width: 90%;
    margin: 0 auto;
}

.testimonial__author p {
    color: var(--Grayish-blue);
    font-size: 14px;
}

@media (min-width: 1024px) {
    .testimonials {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .testimonials__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    .testimonials__main {
        display: flex;
        flex-direction: row;
    }
    .testimonials--item {
        margin: 0 auto;
        height: 35rem;
        width: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .testimonial__img img {
        height: 8rem;
        border-radius: 50px;
    }
    .testimonial__desc {
        width: 90%;
        margin: 0 auto;
    }
    .testimonial__author p {
        color: var(--Grayish-blue);
        font-size: 14px;
    }
    @media (max-width:1024px) {
        .testimonials {
            height: 75vh;
        }
    }
}

/*-Gallery-*/

.gallery {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imagenG {
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__img1 {
    background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
}

.gallery__img2 {
    background-image: url(../images/mobile/image-gallery-orange.jpg);
}

.gallery__img3 {
    background-image: url(../images/mobile/image-gallery-cone.jpg);
}

.gallery__img4 {
    background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

@media (min-width: 768px) {
    .gallery {
        max-width: 1440px;
        display: flex;
    }
    .imagenG {
        height: 40rem;
        width: 25%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*-Footer-*/

.footer {
    height: 30vh;
    background-color: var(--footer-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer__options {
    display: flex;
    width: 30rem;
    justify-content: space-between;
}

.footer__options a {
    font-size: 16px;
    color: var(--Dark-desaturated-cyan);
}

.footer__options a:hover {
    color: var(--White);
}

.footer__icons {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.icons--color:hover {
    cursor: pointer;
    filter: brightness(1000%);
}