:root{

    /*Primary*/

--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan: hsl(168, 34%, 41%);

    /*Neutral*/

--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
--White-hover: rgba(256,256,256, .3);
}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/*-utilities-*/
h1{
    text-transform: uppercase;
    color: var(--White);
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
}

a{
    color: var(--White);
    text-decoration: none;
    text-transform:initial;
}

body{
    font-family: 'Barlow', sans-serif;
    
}

li{
    list-style: none;
    display: flex;
    justify-content: center;
}

/*-Header-*/
.header{
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header__navigation{
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;
}

.header__navigation__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap:.5rem;
}

.header__navigation__container li{
    height: auto;
    width: auto;
    
}

.header__navigation__container a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    border-radius: 20px;
    padding: 2rem 4rem;
    
    height: 3.2rem;
    width: 7.1rem;
    
}

.header__navigation__container a:hover{
    text-transform: uppercase;
    background-color: var(--White-hover);
}

.header__info{
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}